<!-- Title and Navbar header for MouseAndTrigger -->

<div class="content-container">

<div id="logo-title">
	<img id="logo" src="components/images/logo.png" alt="mouse and trigger logo"/>
	<img id="title" src="components/images/title.png" alt="Mouse and Trigger"/>
</div>

<ul id="navbar">
	<li><a href="index.html">Home</a></li>
	<li><a href="videoGames.html">Video Games</a></li>
	<li><a href="boardGames.html">Board Games</a></li>
	<li><a href="moviesTV.html">Movies &amp; TV</a></li>
	<li><a href="about.html">About</a></li>
	<li><a href="donate.html">Donate</a></li>
</ul>

</div>