<!-- Title and Navbar header for MouseAndTrigger -->

<div class="content-container">

<div id="logo-title">
<a href="index.html">
	<img id="logo" src="components/images/logo.png" alt="mouse and trigger logo"/>
	<img id="title" src="components/images/title.png" alt="Mouse and Trigger"/>
</a>
</div>

<ul id="navbar">
	<li class="menu"><a>Articles</a>
	<ul class="drop-down">
		<li><a href="index.html">Everything Ever</a></li>
		<li><a href="videoGames.html">Video Games</a></li>
		<li><a href="boardGames.html">Board Games</a></li>
		<li><a href="movies.html">Movies</a></li>
		<li><a href="television.html">Television</a></li>
		<li><a href="books.html">Books</a></li>
		<li><a href="music.html">Music</a></li>
	</ul>
	</li>
	<li><a href="matNews.html">MAT News</a></li>
	<li><a href="about.html">About</a></li>
	<li><a href="donate.html">Donate</a></li>
</ul>

</div>

<script src="components/show-drop-down-menu.js"></script>
