// Import variables
@import "utilities/variables";

// General styling
b {
    color: $highlight-color;
}
a {
    color: $highlight-color;
    text-decoration: none;
}
a:not(.button):hover {
    text-decoration: underline; 
}
h1 {
    margin: 0 $padding-normal;
}
h2 {
    margin: 0 2*$padding-normal;
}
p {
    margin: $padding-normal/2 4*$padding-normal;
    margin-top: 0;
}
div {
    margin-bottom: $padding-normal;
}

// Specific
.button-container {
    margin: 0 4*$padding-normal;
}
#wrap {
    padding: $padding-normal 0;
}

#about h1 {
    margin: 0 2*$padding-normal;
    font-size: 50px;
}

#contact a {
    margin: $padding-normal/2;
    margin-left: 0;
}

#contributers ul {
    margin: 0 4*$padding-normal;
    list-style: none;
}
#contributers a {
    font-size: $navbar-font-size;
}
