// Import variables
@import "utilities/variables";

#article {
    text-align: left;
}
#article > *:not(#article-banner) {
    padding: 0 2*$padding-normal;
}

#article-banner {
    margin-bottom: $padding-normal;
    width: 100%;
}

#article hr {
    margin: 0;
}

#article-title-sub {
    float: left;
    border-bottom: $article-border solid $highlight-color;
    padding: 0 $padding-normal;
    margin-bottom: $padding-normal;
}

#article-author-portrait {
    float: right;
}
#article-author-portrait img {
    width: $portrait-size-thumb;
    height: $portrait-size-thumb;
    border-radius: $portrait-size-thumb/2;

    box-shadow: 0 0 2*$img-border-size $highlight-color;
}

#article-title {
    margin: 0 $padding-normal;
}

#article-sub {
    margin-left: 2*$padding-normal;
    margin-bottom: 0.5*$padding-normal;
    font-weight: normal;
    font-style: italic;
}

#article-body {
    margin: 0 3*$padding-normal;
    clear: left;
}

#article-blurb {
    margin-top: 0.75*$padding-normal !important;
    font-style: italic;
}

#article p {
    margin-top: 0.25*$padding-normal;
}

a {
    color: $highlight-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

.article-image {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    background-color: white;
}
