// load articles styling

// Import variables
@import "utilities/variables";

// article styling
.article {
	text-align: left;
	padding: 0;
}
.article:first-child {
	margin-top: $padding-normal !important;
}

.author-portrait {
	float: right;
	position: relative;

	margin-left: -$portrait-size-thumb - 2*$img-border-size;
	
	top:0;
	z-index: 1;

	width: $portrait-size-thumb;
	height: $portrait-size-thumb;

	border-radius: $portrait-size-thumb/2;

	box-shadow: 0 0 10*$img-border-size $alternate-color;
}

.title {
	margin: 0 $padding-normal;
}
.title a {
	text-decoration: none;
	color: $primary-color;
}
.title a:hover {
	color: $highlight-color;
}

.sub {
	margin: 0 2*$padding-normal;
	margin-bottom: 0.25*$padding-normal;
	font-weight: normal;
	font-style: italic;
}
.sub a {
	text-decoration: none;
	color: $highlight-color;
}
.sub a:hover {
	text-decoration: underline;
}

.banner {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    max-width: 80%;
    border: $img-border-size solid $alternate-color;
    border-radius: $img-border-size;
    background-color: white;
}

.blurb {
	margin: 0 3*$padding-normal;
	padding: 0.5*$padding-normal 0;
}
.blurb a {
	font-weight: bold;
	color: $highlight-color;
	text-decoration: none;
}
.blurb a:hover {
	text-decoration: underline;
}

.continue-reading {
	margin: 0 2*$padding-normal;
	text-decoration: none;
	color: $highlight-color;
}
.continue-reading:hover {
	text-decoration: underline;
}
