// Variables for scss

// Font Styling
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$alternate-color: #8e8e8e;
$highlight-color: #bd6c96;

// Page Styling
$html-color: $alternate-color;
$header-color: #FFF;
$wrap-color: #eee;
$footer-color: $header-color;

$darken-amount: 10%;

$padding-normal: 20px;
$content-width: 1000px;

// Logo
$logo-size: 200px;

// Img Border Size
$img-border-size: 5px;

// Portrait
$portrait-size: 300px;
$portrait-size-thumb: 150px;

// Navbar
$navbar-font-size: 23px;

// Footer
$footer-height: 150px;